<h4><b>Witaj na portalu z wycenami</b></h4>

Strona ta ma na celu pogrupowanie w logiczny sposób najciekawsze aktywa, by móc je w łatwy sposób śledzić.
Do aktywów dołączone będą statystyki, które pomogą ocenić aktualny sentyment do danych grup aktywów.
Informacje które znajdziesz na tej stronie pełnią rolę informacyjną.
Pamiętaj, że inwestycja nawet w najlepsze aktywa jest obarczona ryzykiem krótkoterminowej straty.
Strata ta może być wysoka, a nawet całkowita w przypadku użycia dźwigni.
<br><br/>
Jeśli jesteś początkującym inwestorem <b>koniecznie zapoznaj się z poniższymi linkami.
  Pomogą one uniknąć wielu zagrożeń oraz najczęstszych błędów</b> wśród początkujących inwestorów,
jak również znajdziesz w nich wskazówki jak zacząć inwestorską przygodę oraz o wiele więcej
<br><br/>
Użytkowanie portalu jest w zupełności darmowe, jeśli uważasz, że brakuje jakiegoś ciekawego aktywa daj mi znać na adres mailowy rybickimichal2@gmail.com
<br><br/>
Życzę licznych sukcesów na inwestorskiej ścieżce!
