<h4>Witaj na portalu z wycenami</h4>

Strona ta ma na celu pogrupowanie w logiczny sposób najciekawsze aktywa, by móc je w łatwy sposób śledzić.
Do aktywów dołączone będą statystyki, które pomogą ocenić aktualny sentyment do danych grup aktywów
<br><br/>
Jeśli jesteś początkującym inwestorem <b>koniecznie zapoznaj się z poniższymi linkami.
  Pomogą one uniknąć najczęstszych błędów</b> wśród początkujących inwestorów,
jak również znajdziesz w nich wskazówki jak zacząć inwestorską przygodę oraz wiele więcej
<br><br/>
Użytkowanie portalu jest w zupełności darmowe, jeśli uważasz, że brakuje jakiegoś ciekawego aktywa daj mi znać na adres mailowy rybickimichal2@gmail.com
<br><br/>
Życzę licznych sukcesów na inwestorskiej ścieżce!


<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Index</th>
      <th>Type</th>
      <th>Id</th>
      <th>Scraping Strategy</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let commodity of commodities">
      <td>{{commodity.index}}</td>
      <td>{{commodity.commodityType}}</td>
      <td>{{commodity.commodityId}}</td>
      <td>{{commodity.scrapingStrategy}}</td>
    </tr>
    </tbody>
  </table>

  <BR>
  <BR>
</div>

