.ellipsis {
  display: block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis:hover {
  display: contents;
  white-space: normal;
}

.increase{
  background: #558B2f;
  color: #fff;
}
.decrease{
  background: #C62828;
  color: #fff;
}
