<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Commodity Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuStocks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Akcje
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Rynki rozwijające się</a>
          <a class="dropdown-item" href="#">Rynki rozwinięte</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuCrypto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Crypto
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Kryptowaluty</a>
          <a class="dropdown-item" href="#">Shit coiny</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuMetalsAndNaturalResources" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Metale i surowce
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Metale szlachetne</a>
          <a class="dropdown-item" href="#">Surowce rolne</a>
          <a class="dropdown-item" href="#">Surowce przemysłowe</a>
          <a class="dropdown-item" href="#">Surowce ziem rzadkich</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuReits" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          REITy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Azja</a>
          <a class="dropdown-item" href="#">Ameryka Północna</a>
          <a class="dropdown-item" href="#">Reszta</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuTips" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Poradnik
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">W co aktualnie inwestować</a>
          <a class="dropdown-item" href="#">Jak stworzyć portfel inwestycyjny</a>
          <a class="dropdown-item" href="#">Jak inwestować (brokerzy)</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">O stronie</a>
      </li>
    </ul>
  </div>
</nav>

